* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

:root {
  --bg1: #1e1e1e;
  --bg2: #1c2333;
  --bg3: #131a2b;
  --bg4: #0c1424;
  --primary-font: "Space Grotesk", sans-serif;
  --sec-font1: "Inter", sans-serif;
  --sec-font2: "JetBrains Mono", monospace;
}

body {
  /* background: linear-gradient(
    180deg,
    var(--bg1) 0%,
    var(--bg2) 40%,
    var(--bg3) 70%,
    var(--bg4) 100%
  ); */

  background-color: #0f0f0e;

  font-family: var(--sec-font2);
  color: white;
  font-weight: 300;
  font-size: 50px;
  animation: glitch 0.5s ease-in 0.1s 1 forwards;
}

section {
  background: none;
}

/*-------------------PAGE ONE-------------------*/
#page1 {
  height: 70vh;
  width: 100%;
  text-align: center;
  font-size: 6vw;
  letter-spacing: -2px;
  font-weight: 400;
  color: #e8e6dc;
  text-shadow:
    0 0 12px rgba(86, 156, 214, 0.4),
    0 0 30px rgba(86, 156, 214, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  opacity: 0;
  animation: fadeup 0.8s ease-in forwards;
}

h2 {
  opacity: 0;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 4vw;
  font-weight: 400;
  color: rgba(245, 11, 11, 0.4);
  /* animation: fadeup2 0.6s ease-in 1s forwards; */
  text-shadow: 0 0 8px rgba(69, 147, 202, 0.1);
  position: relative;
  transform: translateY(20px);
  animation: pop-up 0.6s ease-in 0.9s forwards;
}

/* --------------------PAGE TWO------------------*/
#page2 {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.terminal {
  background: #1e1e1e;
  opacity: 0;
  height: 60vh;
  width: 90vw;
  border-radius: 20px;
  box-shadow: 0 0 12px rgba(86, 156, 214, 0.4);
  display: flex;
  flex-direction: column;
  transform: translateY(80px);
}

.header ul {
  border-radius: 20px 20px 0 0;
  background: #232323;
  display: flex;
  font-size: 20px;
  font-family: var(--primary-font);
  gap: 20px;
  list-style: none;
  padding: 10px;
}

.body {
  font-size: 25px;
  padding: 15px;
  font-family: var(--primary-font);
}

.body p {
  opacity: 0;
  border-right: 8px solid #ffffff;
  overflow: hidden;
  white-space: nowrap;
  animation:
    /* fadeup2 0.6s ease-in 1s forwards,
    typingEffect 3s steps(50) 1.5s forwards, */
    blink 0.7s step-end 1s infinite;
}

.debug-para p{
  font-size: 2.3vw;
  opacity: 0;
  /* transform: translateY(30px); */
  letter-spacing: 0.5px ;
  /* animation:
    fadeup2 0.6s ease-in 1.5s forwards; */
}

#page3 {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 20px;
}

.debug p {
  margin-top: 30px;
  font-size: 3vw;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #00ff41;
  border-right: 8px solid #ffffff;
  animation: blink 0.7s step-end 1s infinite;
}

#page3 img{
  height: 74px;
  width: 74px;
  margin-left: 100px;
  
}



#page4 {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 20px;
}

/* -----------------ANIMATIONS----------------*/
@keyframes glitch {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeup {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
    color: #00ff41;
    text-shadow:
      0 0 5px #00ff41,
      0 0 15px #00ff41,
      0 0 30px rgba(0, 255, 65, 0.6);
  }
}

@keyframes fadeup2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pop-up {
  /* from{
    opacity: 0;
   transform: translateY(50);
  } */
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes typingEffect {
  from {
    width: 0;
  }
  to {
    width: 36%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
