* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

:root {
  --bg1: #1e1e1e;
  --bg2: #1c2333;
  --bg3: #131a2b;
  --bg4: #0c1424;
  --primary-font: "Space Grotesk", sans-serif;
  --sec-font1: "Inter", sans-serif;
  --sec-font2: "JetBrains Mono", monospace;
}

body {
  /* background: linear-gradient(
    180deg,
    var(--bg1) 0%,
    var(--bg2) 40%,
    var(--bg3) 70%,
    var(--bg4) 100%
  ); */

  background-color: #0f0f0e;

  font-family: var(--sec-font2);
  color: white;
  font-weight: 300;
  font-size: 50px;
  animation: glitch 0.5s ease-in 0.1s 1 forwards ;
}

section {
  background: none;
}
/*--------PAGE ONE--------*/
#page1 {
  height: 70vh;
  width: 100%;
  text-align: center;
  font-size: 6vw;
  letter-spacing: -2px;
  font-weight: 400;
  color: #e8e6dc;
  text-shadow:
    0 0 12px rgba(86, 156, 214, 0.4),
    0 0 30px rgba(86, 156, 214, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  opacity: 0;
  animation: fadeup 0.5s ease-in forwards;
}

h2 {
  opacity: 0;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 6vw;
  font-weight: 400;
  color: #e8e6dc;
  animation: fadeup2 0.6s ease-in 1s forwards;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
  position: relative;
}



/* ---------PAGE TWO--------*/
#page2 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}

.terminal {
  background: #1e1e1e;
  opacity: 0;
  height: 60vh;
  width: 90vw;
  border-radius: 20px;
  box-shadow: 0 0 12px rgba(86, 156, 214, 0.4);
  display: flex;
  flex-direction: column;
  animation: opacity2 1s ease-in 1.5s forwards;
}

.header ul {
  border-radius: 20px 20px 0 0;
  background: #232323;
  display: flex;
  font-size: 20px;
  font-family: var(--primary-font);
  gap: 20px;
  list-style: none;
  padding: 10px;
}

.body {
    font-size: 25px;
    padding: 15px;
    font-family: var(--primary-font);
}


/* --------ANIMATIONS---------*/
@keyframes glitch {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.5;
    }
    50%{
        opacity: 0.25;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeup {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
    color: #00ff41;
  text-shadow:
    0 0 5px #00ff41,
    0 0 15px #00ff41,
    0 0 30px rgba(0, 255, 65, 0.6);
  }
}

@keyframes fadeup2 {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
  from {
    opacity: 0;
    transform: translateY(50px);
  }
}